body {
	line-height: 17px;
  	font-family: 'Hind', 'Ubuntu', sans-serif;
  	background-color: #E6EAE8;
  	height: 0px;
  	width: 0px;
}

.top_bar{
	width: 100%;
	height: 40px;
	background-color: #000000;
	margin: 0 0 10px 0;
	display: inline-flex;
	position: fixed;
	z-index: 10;
}

.card-header{
	padding: 5px;
}

.btn-dark{
	display: block;
	background-color: #000;
}

.logo{
	background: white;
}

.logo a{
	padding-right: 10px;
	margin-left: 10px;
	font-size: 150%;
	position: relative;
	top: 15px;
	font-family: 'Fjalla One', sans-serif;
	color: #000;
	text-decoration: none;
}

.header{
	float: right;
	position: absolute;
	right: 1px;
	margin: 10px;
}

.header a{
	position: relative;
	color: #ffffff;
	text-decoration: none;
	margin: 5px 10px;
}

nav a:hover{
	color: #FFFFFF;
}

.wrapper{
	top: 50px;
	position: relative;
	padding: 0 10px;
	width:100%;
}

.wrapper_2{
	width: 1320px;
}

.column{
	background-color: #fff;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	z-index: -1;
}

.trivia_column{
	background-color: #fff;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
}

.user_details{
	width: 300px;
	float: left;
	position: absolute;
	left: 85px;
}

.user_details_left_right{
	width: 120px;
	display: inline-block;
	position: absolute;
}

.user_details img{
	height:125px;
	border-radius: 5px;
	margin-right: 5px;
}

.trivia{
	width: 265px;
	float: left;
	display: block;
	position: absolute;
    left: 125px;
}

.top_trivia_heading{
	background: #fff;	
}

.top_trivia_heading a{
	color: #000;
}

.trivia_div a{
	color: #000;
}

#aliceBlue{
	background: aliceblue; 
}

#cornSilk{
	background: cornsilk;
}

.trivia_topics{
	width: 265px;
	float: left;
	display: block;
	position: absolute;
    left: 125px;
}

.main_column {
	float: left;
    width: 535px;
    z-index: -1;
    min-height: 170px;
    position: absolute;
    left: 405px;
}

.message_main_column {
	float: left;
    width: 535px;
    z-index: -1;
    min-height: 170px;
    position: absolute;
    left: 405px;
}

.notifications_main_column {
	float: left;
    width: 535px;
    z-index: -1;
    min-height: 170px;
    position: absolute;
    left: 405px;
}

.requests_main_column {
	float: left;
    width: 44%;
    z-index: -1;
    min-height: 170px;
    position: absolute;
    left: 330px;
    min-width: 535px;
}

.trivia_main_column {
	width: 60%;
	min-width: 535px;
	display: block;
	position: absolute;
    top: 100px;
    left: 150px;
}

.trivia_breadcrumb{
	display: block;
	float: left;
}

.main_settings_column {
	float:left;
	position: absolute;
	left: 300px;
	width: 55%;
	z-index: -1;
	min-height: 170px;
	min-width: 700px;
}
.name_column{
	float: left;
}

.password_column{
	float: right;
}

.post_form{
	width: 100%;
}

.post_form textarea{
	width:80%;
	height: 60px;
	border-radius: 5px;
	margin-right: 5px;
	border: 1px solid #D3D3D3;
}

.post_form_trivia{
	width: 100%;
}

.post_form_trivia textarea{
	width:80%;
	height: 60px;
	border-radius: 5px;
	margin-right: 5px;
	border: 1px solid #D3D3D3;
}

textarea:focus {
	outline: 0;
}

.post_form input[type="submit"]{
	width: 18%;
	min-width: 10px;
	height: 60px;
	border: none;
	border-radius: 5px;
	background-color: #000000;
	color: #ffffff;
	position: absolute;
	outline: 0;
	margin: 0;
}

.post_form input[type="submit"]:active{
	padding: 5px 4px 4px 5px;
}

.post_form_trivia input[type="submit"]{
	width: 18%;
	height: 60px;
	border: none;
	border-radius: 5px;
	background-color: #000000;
	color: #ffffff;
	position: absolute;
	outline: 0;
	margin: 0;
}

.post_form_trivia_topics input[type="submit"]{
	width: 18%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #ffffff;
    position: relative;
    top: -25px;
    left: 10px;
    outline: 0;
    margin: 0;
}

.status_post{
	width: 96%;
	font-size: 15px;
    padding: 0px 5px;
    min-height:75px;
    cursor:pointer;
    font-family: 'Hind', 'Ubuntu', sans-serif;
}

.main_trivia_column {
    float: left;
    position: absolute;
    left: 405px;
    width: 40%;
    min-width: 535px;
    z-index: -1;
    min-height: 80px;
}

.main_trivia_topics_column {
	margin: 0 auto;
    width: 50%;
    z-index: -1;
    min-height: 80px;
}

.main_trivia_topics_column textarea{
	width: 395px;
	height: 60px;
}

.dropdown{
	float: right;
	position: relative;
    top: -85px;
    right:0px;
}

.dropdown *{
	background: #fff;
	color: #000;
	border: none;
}

.trivia_topic_create{
	width: 100%;
    padding: 12px 10px;
  	margin: 8px 0;
  	display: inline-block;
  	border: 1px solid #ccc;
  	border-radius: 4px;
}

.post_profile_pic{
	float: left;
	margin-right: 7px;
	margin-bottom: 20px;
}

.post_profile_pic img{
	border-radius: 5px;
}

#comment_iframe{
	max-height: 250px;
    width: 100%;
    margin-top: 5px;
}

.comment_section{
	padding: 0 5px 5px 5px;
}

.comment_section img{
	margin: 0 3px 3px 3px;
	border-radius: 3px;
}

#comment_form textarea{
	border-color:#D3D3D3;
	width: 70%;
    height: 35px;
    border-radius: 5px;
    font-size: 14px;
    margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"]{
	border:none;
	background-color: #000;
	color: #ffffff;
	border-radius: 5px;
	width:25%;
	height:35px;
	margin-top: 3px;
	position: absolute;
	font-family: 'Hind', 'Ubuntu', sans-serif;
}

.newsfeedPostOptions{
	padding: 0px;
	text-decoration: none;
	border:none;
	color:#007bff;
}

.profile_left {
	top: 40px;
    width: 65%;
    max-width: 160px;
    min-width: 165px;
    min-height: 720px;
    height: 100%;
    float: left;
    position: fixed;
    left: 0px;
    background-color: #000000;
    border-right: 10px solid #D3D3D3;
    margin-right: 20px;
}

.profile_top{
	display: none;
}

.profile_left .profile_img {
	min-width: 80px;
	width: 55%;
	margin: 20px;
	border: 5px solid #D3D3D3;
	border-radius: 100px;
}

.profile_info {
	background-color: #ffffff;
	color: #000000;
	width: 100%;
	padding: 10px 0 10px 0;
}

.profile_info p {
	margin: 0 0 0 20px;
	word-wrap: break-word;
}

.danger {
	background-color: #e74c3c;
}
.warning {
	background-color: #f0ad4e;
}
.default {
	background-color: #000;
}
.success {
	background-color: #2ecc71;
}

.deep_blue {
	background-color: #0043f0;
}

.profile_left input[type="submit"] {
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border: none;
	color: #fff;
}

#accept_button {
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #2ecc71;
}
#ignore_button {
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #e74c3c;
}

.more_button {
	height: 20px;
	width: 15px;
	padding: 0;
	float: right;
	border-radius: 4px;
	right: 15px;
	position: relative;
}

/* Page */

.more_container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* More Button / Dropdown Menu */

.more-btn,
.more-menu-btn {
    background: none;
    border: 0 none;
    line-height: normal;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
    text-align: left;
    outline: none;
    cursor: pointer;
}

.more-dot {
    background-color: #00000052;
    margin: 0 auto;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 1px;
    margin-bottom: 1px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.more-menu {
    position: absolute;
    top: 100%;
    z-index: 10;
    float: left;
    padding: 10px 10px;
    margin-top: 9px;
    background-color: #fff;
    border: 1px solid #ccd8e0;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
    opacity: 0;
    transform: translate(0, 15px) scale(.95);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}

.more-menu-caret {
    position: absolute;
    top: -10px;
    left: 12px;
    width: 18px;
    height: 10px;
    float: left;
    overflow: hidden;
}

.more-menu-caret-outer,
.more-menu-caret-inner {
    position: absolute;
    display: inline-block;
    margin-left: -1px;
    font-size: 0;
    line-height: 1;
}

.more-menu-caret-outer {
    border-bottom: 10px solid #c1d0da;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: auto;
    left: 0;
    top: 0;
    width: auto;    
}

.more-menu-caret-inner {
    top: 1px;
    left: 1px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
}

.more-menu-items {
    margin: 0;
    list-style: none;
    padding: 0;
}

.more-menu-item {
    display: block;
}

.more-menu-btn {
    min-width: 100%;
    color: #66757f;
    cursor: pointer;
    display: block;
    font-size: 13px;
    line-height: 18px;
    padding: 0 0;
    position: relative;
    white-space: nowrap;
}

.more-menu-item:hover {
    background-color: #000;
}

.more-menu-item:hover .more-menu-btn {
    color: #fff;
}

.more-btn:hover .more-dot,
.show-more-menu .more-dot {
    background-color: #516471;
}

.show-more-menu .more-menu {
    opacity: 1;
    transform: translate(0, 0) scale(1);
    pointer-events: auto;
}

.edit_post{
	position: static !important;
}

.vote{
	position: relative;
	left:0px;
}

.vote iframe{
	border: none;
	height:17px;
	width:300px;
}

.comment_vote{
	background-color: transparent;
	border: none;
	font-size: 14px;
	color: #3498db;
	padding: 0;
	height: auto;
	width: auto;
	margin:0;
}

.upvote_value{
	display: inline;
	font-size: 14px;
}

.profile_main_column {
    margin-left: 10px;
    min-height: 170px;
	min-width: 535px;
	float: left;
	position: absolute;
	left: 170px;
	width: 50%;
	z-index: -1;
}

.profile_info_bottom {
	color: #ffffff;
	margin: 20px 0 0 20px;

}

.profile_newsfeed{
	font-size: 150%;
	padding: 1px 1px 10px 5px;
}

#message_textarea{
	width: 80%;
    margin-right: 8px;
    border-radius: 5px;
}

#message_submit{
	height: 40px;
	width: 15%;
	margin:0;
	position:absolute;
	border: none;
	color: #fff;
	background-color: #000000;
	border-radius: 5px;
}

.message{
	border: 1px solid #000;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	color: #000;
}

.message#blue{
	background-color: #34adf5;
	float: right;
	margin-bottom: 5px;
}

.message#white{
	background-color: #fff;
	float: left;
	margin-bottom: 5px;
}

.loaded_messages{
	height: 65%;
	min-height: 300px;
	max-height: 400px;
	overflow: auto;
	margin-bottom: 10px;
}

.loaded_conversations{
	max-height: 220px;
	overflow: auto;
}

.user_found_messages{
	border-bottom: 1px solid #D3D3D3;
	padding: 8px 8px 10px 8px; 
}

.user_found_messages:hover{
	background-color: #D3D3D3;
}

.user_found_messages img{
	height: 35px;
	float:left;
}

#grey{
	color: #8C8C8C;
}

.resultDisplay{
	padding: 5px 5px 0 5px;
	height: 70px;
	border-bottom: 1px solid #D3D3D3; 
}

.resultDisplay a{
	float:none;
}

.resultDisplay:hover{
	background-color: #EBEBEB;
	text-decoration: none;
}

.liveSearchProfilePic img{
	height: 50px;
	border-radius: 25px;
	margin: 1px 12px 0 2px;
	float: left;
}

.liveSearchText p{
	margin-left: 10px;
	font-size: 12px;
}

.dropdown_data_window{
	background-color: #fff;
    border: 1px solid #DADADA;
    border-radius: 0 0 8px 8px;
    border-top: none;
    width: 300px;
    position: absolute;
    right: 10px;
    top: 40px;
    overflow: auto;
}

.notification_badge{
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #F00;
	border-radius: 10px;
	position: absolute;
	left: 8px;
	top: -5px;
}

.resultDisplayNotification{
	height: auto;
    color: #1485BD;
    padding-bottom: 7px;
}

.resultDisplayNotification img{
	height: 40px;
	border-radius: 5px;
	margin:1px 2px 0px 2px;
	float:left;
}

.timestamp_smaller{
	font-size: 85%;
	margin:0;
}

.search{
	margin: 8px 0 0 10%;
}

.search #search_text_input{
	border: thin solid #E5E5E5;
	float: left;
	height: 23px;
	outline: 0;
	width: 100px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.button_holder{
	background-color: #F1F1F1;
  	border: thin solid #e5e5e5;
  	cursor: pointer;
  	float: right;
  	height: 23px;
  	text-align: center;
  	width: 50px;
  	border-top-right-radius: 3px;
  	border-bottom-right-radius: 3px;
}

.button_holder img {
	margin-top: 1px;
    width: 20px;
}

.search_results {
	background-color: #fff;
    border: 1px solid #DADADA;
    border-bottom: none;
    border-top: none;
    margin-top: 21px;
}

.search_results_footer{
	padding: 7px 4px 0px 4px;
    height: 30px;
    border: 1px solid #DADADA;
    border-top: none;
    background-color: #000000;
    text-align: center;
}

.search_results_footer a {
	color: #fff;
}

.search_result {
	padding: 10px;
    height: 100px;
}

.searchPageFriendButtons {
	float: right;
}

.searchPageFriendButtons input[type="submit"] {
	border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
}

.result_profile_pic {
	float: left;
    margin-right: 10px;
}

#search_hr {
	margin-bottom: 0px;
}

.small_profile_pic {
	height: 55px;
    margin: 1px 12px 0 2px;
    float: left;
}

label{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    width: 320px;
    margin-bottom: 0px;
}

#settings_input {
	border: 1px solid #ccc;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
}

.settings_submit {
	border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #fff;
    display:block;
}

.triviaPostOptions iframe{
	border: 0px;
	height: 51px;
	width:120px;
}

.comment_vote{
	background-color: transparent;
	border: none;
	font-size: 14px;
	color: #3498db;
	padding: 0;
	height: auto;
	width: auto;
	margin: 0;
}

.vote_value{
	display: inline;
	font-size: 14px;
}

.topic_select{
	width: 200px;
    margin: 0 auto;
    display: block;
}

.single_trivia_topic{
	display: block;
	position: absolute;
    left: 150px;
    min-width: 535px;
}

#fileToUpload{
	margin-bottom: 5px;
	display: none;
}

#fake-button {
  background-image: url("../images/icons/image-100.png");
  height: 25px;
  width: 28px;
  border: none;
}

#fake-label{
	border: none;
}

.postedImage img{
	max-height: 450px;
	max-width: 100%;
	display: block;
	margin: 5px auto;
}

input.image{
	background: url('../images/icons/image.png') no-repeat center center fixed;
}


.websiteComAd{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.top_banner_ad{
	width:100%;
	text-align: center;
}

.about_us{
    position: absolute;
    top: 420px;
}

.about_us a{
	display: inline;
    padding: 10px;
}

.badges_div img{
    padding: 5px;
    width: 48px;
	height: auto;
	display: inline-block;
}

.tier-1{
	display: block;
	margin-left:auto;
	margin-right: auto;
}

.tier-2{
	display: block;
	margin-left:auto;
	margin-right: auto;
}

.mobile_menu{
	display: none;
}

.closeBtn{
	display: none;
}

#myNav{
	display: none;
}

#myProfileNav{
	display: none;
}

.logo .mobile{
	display: none;
}

.mob{
	display: none;
}

#CroppingContainer{
	width: 800px;
    max-height: 600px;
    background-color: #FFF;
    margin-left: -200px;
    position: relative;
    overflow: hidden;
    border: 2px #666 solid;
    z-index: 2001;
    padding-bottom: 0px;
}

#CroppingArea{
	width: 500px;
    max-height: 700px;
    position: relative;
    overflow: hidden;
    margin: 40px 0px 40px 40px;
    border: 2px #666 solid;
    float: left;
}

#jcrop_target{
	border: 0px solid rgb(153, 0, 0);
    position: relative;
    margin: 0px;
    padding: 0px;
    display: none;
    visibility: hidden;
    width: 500px;
    height: 500px;
}

#InfoArea{
	width: 180px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin: 40px 0px 0px 40px;
    border: 0px #666 solid;
    float: left;

}

#CropImageForm{
	width: 100px;
    height: 30px;
    float: left;
    margin: 10px 0px 0px 40px;
}

#CropImageForm2{
	width: 100px;
    height: 30px;
    float: left;
    margin: 10px 0px 0px 40px;
}

@media screen and (max-width: 768px){
	.logo .desktop{
		display: none;
	}

	.pc{
		display: none;
	}

	#CroppingContainer{
		width: 768px;
		margin-left: 0px;
	}

	.trivia_top_page{
		min-width: 768px;
	}

	.single_trivia_topic{
		display: block;
		position: absolute;
	    left: 0px;
	    min-width: 768px;
	}

	.dropdown{
		top:-80px;
	}

	.profile_top {
		display: block;
	    top: 40px;
	    width: 100%;
	    min-height: 100px;
	    height: 10%;
	    position: fixed;
	    left: 0px;
	    border-right: 10px solid #D3D3D3;
	    margin-right: 20px;
	}

	.profile_info{
		float: right;
	    background-color: #ffffff;
	    position: relative;
	    top: 10px;
	    right: 30px;
	    color: #000000;
	    width: 60%;
	    padding: 10px 0 10px 0;
	}

	.profile_top .profile_img {
		min-width: 60px;
	    width: 10%;
	    margin: 20px;
	    border: 5px solid #D3D3D3;
	    border-radius: 100px;
	}

	.overlay input[type="submit"] {
		width: 60%;
		height: 30px;
		border-radius: 5px;
		margin: 7px 0 0 7px;
		border: none;
		color: #fff;
	}

	.user_details{
		float: none;
	    width: 768px;
	    position: absolute;
	    left: 0;
	}

	.message_main_column{
		float: left;
	    width: 100%;
	    min-width: 768px;
	    z-index: -1;
	    min-height: 170px;
	    position: absolute;
	    left: 1px;
	    top: 150px;
	}

	.notifications_main_column{
		float: left;
	    width: 100%;
	    min-width: 768px;
	    z-index: -1;
	    min-height: 170px;
	    position: absolute;
	    left: 1px;
	    top: 0;
	}

	.requests_main_column {
		float: left;
	    width: 44%;
	    z-index: -1;
	    min-height: 170px;
	    position: absolute;
	    left: 0;
	    min-width: 768px;
	}

	.main_settings_column {
	    float: left;
	    position: absolute;
	    left: 0;
	    width: 320px;
	    z-index: -1;
	    min-height: 800px;
	    min-width: 320px;
	}

	.name_column {
	    float: none;
	    position: absolute;
	    top: 470px;
	}

	.password_column {
	    float: left;
	}

	.trivia_topics{
		display: none;
	}

	.main_trivia_column{
		left: 0;
		min-width: 768px;
	}

	.about_us {
	    position: absolute;
	    top: 730px;
	}

	.wrapper_2{
		width: 0px;
	}

	.wrapper_3{
		width: 768px;
	}


	.logo .mobile{
		display: block;
		padding-right: 10px;
		font-size: 150%;
		position: relative;
		top: 15px;
		font-family: 'Fjalla One', sans-serif;
		color: #000;
		text-decoration: none;
	}

	.mob{
		display: inline;
	}

	.profile_left{
		display: none;
	}

	.profile_main_column{
		top: 80px;
		left: 0;
		min-width: 768px;
	}

	.main_column {
	    float: left;
	    width: 100%;
	    min-width: 768px;
	    z-index: -1;
	    min-height: 170px;
	    position: absolute;
    	left: 1px;
	}

	.search{
		margin: 8px 0 0 4%;
	}

	.trivia{
		display: none;	
	}

	.header{
		display: none;
	}

	.mobile_menu{
		display: block;
	    position: fixed;
	    right: 30px;
	    top: 10px;
	    z-index: 10;
	}

	#myNav{
		display: block;
	}

	#myProfileNav{
		display: block;
	}

	.overlay {
	  height: 100%;
	  width: 0;
	  position: fixed;
	  z-index: 10;
	  top: 0;
	  left: 0;
	  color: #fff;
	  background-color: rgb(0,0,0);
	  background-color: rgba(0,0,0, 0.9);
	  overflow-x: hidden;
	  transition: 0.5s;
	}

	.overlay-content {
	  position: relative;
	  top: 25%;
	  width: 100%;
	  text-align: center;
	  margin-top: 30px;
	}

	.overlay a {
	  padding: 8px;
	  text-decoration: none;
	  font-size: 24px;
	  color: #818181;
	  display: block;
	  transition: 0.3s;
	}

	.overlay a:hover, .overlay a:focus {
	  color: #f1f1f1;
	}

	.overlay .closebtn {
	  display: inline;
	  position: absolute;
	  top: 20px;
	  right: 45px;
	  font-size: 60px;
	}


}

@media screen and (max-width: 425px){

	.main_column {
	    float: left;
	    width: 100%;
	    min-width: 425px;
	    z-index: -1;
	    min-height: 170px;
	    position: absolute;
    	left: 1px;
	}

	.wrapper_3{
		width: 425px;
	}

	.trivia_top_page{
		min-width: 425px;
	}

	.profile_main_column{
		top:80px;
		left: 0;
		min-width: 425px;
	}

	.user_details{
		float: none;
	    width: 425px;
	    position: absolute;
	    left: 0;
	}

	.message_main_column{
		float: left;
	    width: 100%;
	    min-width: 425px;
	    z-index: -1;
	    min-height: 170px;
	    position: absolute;
	    left: 1px;
	    top: 150px;
	}

	.notifications_main_column{
		float: left;
	    width: 100%;
	    min-width: 425px;
	    z-index: -1;
	    min-height: 170px;
	    position: absolute;
	    left: 1px;
	    top: 0;
	}

	.requests_main_column {
		float: left;
	    width: 44%;
	    z-index: -1;
	    min-height: 170px;
	    position: absolute;
	    left: 0;
	    min-width: 425px;
	}

	.main_trivia_column{
		left: 0;
		min-width: 425px;
	}

}


@media screen and (max-width: 375px){

	.main_column {
	    float: left;
	    width: 100%;
	    min-width: 375px;
	    z-index: -1;
	    min-height: 170px;
	    position: absolute;
    	left: 1px;
	}

	.wrapper_3{
		width: 375px;
	}

	.trivia_top_page{
		min-width: 375px;
	}

	.trivia_main_column {
		width: 60%;
		min-width: 375px;
		display: block;
		position: absolute;
	    top: 100px;
	    left: 0px;
	}

	.profile_main_column{
		top:80px;
		left: 0;
		min-width: 375px;
	}

	.user_details{
		float: none;
	    width: 375px;
	    position: absolute;
	    left: 0;
	}

	.message_main_column{
		float: left;
	    width: 100%;
	    min-width: 375px;
	    z-index: -1;
	    min-height: 170px;
	    position: absolute;
	    left: 1px;
	    top: 150px;
	}

	.notifications_main_column{
		float: left;
	    width: 100%;
	    min-width: 375px;
	    z-index: -1;
	    min-height: 170px;
	    position: absolute;
	    left: 1px;
	    top: 0;
	}

	.requests_main_column {
		float: left;
	    width: 44%;
	    z-index: -1;
	    min-height: 170px;
	    position: absolute;
	    left: 0;
	    min-width: 375px;
	}

	.main_trivia_column{
		left: 0;
		min-width: 375px;
	}

}

@media screen and (max-width: 320px){

	.main_column {
	    float: left;
	    width: 100%;
	    min-width: 320px;
	    z-index: -1;
	    min-height: 170px;
	    position: absolute;
    	left: 1px;
	}

	.wrapper_3{
		width: 320px;
	}

	.trivia_top_page{
		min-width: 320px;
	}

	.trivia_main_column {
		width: 60%;
		min-width: 320px;
		display: block;
		position: absolute;
	    top: 100px;
	    left: 0px;
	}

	.profile_main_column{
		top:80px;
		left: 0;
		min-width: 320px;
	}

	.user_details{
		float: none;
	    width: 320px;
	    position: absolute;
	    left: 0;
	}

	.message_main_column{
		float: left;
	    width: 100%;
	    min-width: 320px;
	    z-index: -1;
	    min-height: 170px;
	    position: absolute;
	    left: 1px;
	    top: 150px;
	}

	.notifications_main_column{
		float: left;
	    width: 100%;
	    min-width: 320px;
	    z-index: -1;
	    min-height: 170px;
	    position: absolute;
	    left: 1px;
	    top: 0;
	}

	.requests_main_column {
		float: left;
	    width: 44%;
	    z-index: -1;
	    min-height: 170px;
	    position: absolute;
	    left: 0;
	    min-width: 320px;
	}

	.main_trivia_topics_column{
		min-width: 320px;
	}

	.main_trivia_topics_column textarea {
	    width: 300px;
	    height: 60px;
	}

	.category{
		margin: 10px 0 0 0;
	}

	.post_form_trivia_topics input[type="submit"] {
	    width: 25%;
	    height: 60px;
	    border: none;
	    border-radius: 5px;
	    background-color: #000000;
	    color: #ffffff;
	    position: relative;
	    top: 10px;
	    left: 0px;
	    outline: 0;
	    margin: 0;
	}

	.trivia_topics_area{
		min-width: 320px;
	}

	.main_trivia_column{
		left: 0;
		min-width: 320px;
	}

	.dropdown{
		top:-110px;
	}

	.single_trivia_topic{
		display: block;
		position: absolute;
	    left: 0px;
	    min-width: 320px;
	}

	#CroppingContainer{
		width: 320px;
	}

	#CroppingArea{
		width: 240px;
		max-height: 240px;
	}

}
